/** combined CSS file */ 
.agsjsTOCNode {
    padding-top: 1px;
    padding-bottom: 1px;
}

.agsjsTOCContent {
    white-space: nowrap;
    font-family:'Arial';
    color:#03f9f1;
}

.agsjsTOCOutOfScale {
    color: grey;
    opacity: 0.5;
}

.agsjsTOCIcon {
  vertical-align:bottom
}

.agsjsTOCRootLayer {
}

.agsjsTOCRootLayerLabel {
    font-size: 13px;
    font-weight: bold;
}

.agsjsTOCGroupLayer {
    font-weight: bold;
}

.agsjsTOCGroupLayerLabel {
    font-size: 12px;
}

.agsjsTOCServiceLayer {
    font-size: 11px;
}

.agsjsTOCServiceLayerLabel {
    font-size: 10pt;
    padding-left: 2px;
}

.agsjsTOCLegendIcon {
    /* width: 50px;*/
}

.agsjsTOCLegendLabel {
    font-size: 11px;
    padding-left: 2px;
}

.agsjsTOCSlider {
    padding: 5px 20px 5px 30px;
}
