/* CSS Document */
/**
 * 	CSS3 Only Horizontal and Vertical Accordion
 * 	Author: Paul Underwood for Hongkiat.com
 *  Website: www.paulund.co.uk
 *  Date: 27/11/11
 *  Version: 1.0
 */

 
/*article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
html { font-size: 12px; overflow-y: scroll; -webkit-text-size-adjust: 12px; -ms-text-size-adjust: 12px; }
body { margin: 0; font-size: 13px;}
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*Define Accordion box
.accordion { width:220px; overflow:hidden; margin:0px; color:#474747; background:#414141; padding:5px;}

/*General Accordion****************************************************************************/
/*Set style of open slide
.accordion section:target { background:#545454; padding:10px; color:#FFFFFF; font-size:12px;}
.accordion section:target:hover { background:#545454; }
.accordion section:target h2 {width:100%;}
.accordion section:target h2 a{ color:#22f9f1; padding:0; font-weight: bold;}
.accordion section:target h3 {font-size:bold;}
.accordion section:target p {display:block;}
.accordion section h2 a{padding:8px 10px;display:block;  font-size:12px; font-weight:normal;color:#eee; text-decoration:none; }

/*set style of closed slide
.accordion section{ float:left;	overflow:hidden; color:#333; cursor:pointer; background: #333; margin:3px; }
.accordion section:hover {background:#444;}
.accordion section p { display:none; }
.accordion section:after{position:relative;font-size:24px;color:#000;font-weight:bold;}
.accordion section:nth-child(1):after{content:'1';}
.accordion section:nth-child(2):after{content:'2';}
.accordion section:nth-child(3):after{content:'3';}
.accordion section:nth-child(4):after{content:'4';}
.accordion section:nth-child(5):after{content:'5';}
/*End General Accordion****************************************************************************/

/*Horizontal Accordion ********************************************************************
.horizontal section{ width:5%; height:50px; 
	-moz-transition:width 0.2s ease-out; 
	-webkit-transition:width 0.2s ease-out;
  	-o-transition:width 0.2s ease-out;
	-ms-transition:width 0.2s ease-out;
  	transition:width 0.2s ease-out;
}

/*Position the number of the slide
.horizontal section:after{top:140px;left:15px;}

/*Header of closed slide
.horizontal section h2 { 
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	width:240px; position:relative; left:-100px; top:85px;
} 

/*On mouse over open slide
.horizontal :target{ width:73%;height:230px; }
.horizontal :target h2{ top:0px;left:0;
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg); 
}
/*End Horizontal Accordion *********************************************************************/

/*Vertical Accordion ************************************************************************
.vertical section{ width:100%; height:30px;
	-webkit-transition:height 0.2s ease-out;
	-moz-transition:height 0.2s ease-out;
  	-o-transition:height 0.2s ease-out;
	-ms-transition:height 0.2s ease-out;
  	transition:height 0.2s ease-out;
}
/*Set height of the slide
.vertical :target{ height:250px; width:97%; margin-top: 0px; }

.vertical section h2 { position:relative; left:0; top:-30px; }

/*Set position of the number on the slide
.vertical section:after{ top:-60px;left:810px;}
.vertical section:target:after{ left:-9999px;}
*/

body {
	background: rgba(0,0,0,0.2);
	
}

#contain {

	width: 250px;
	height: 250px;
	margin: auto;
}

.accordion,.accordion div,.accordion h1,.accordion p,.accordion a,.accordion img,.accordion span,.accordion em,.accordion ul,.accordion li {
	margin: 0;
	padding: 0;
	border: none;
}

/* Accordion Layout Styles */
.accordion {
	width: 205px;
	padding: 1px 5px 5px 5px;
	/*background: #141517;*/
	background: #adaeb1;
	right: 0px;

	-webkit-box-shadow: 0px 1px 0px rgba(255,255,255, .05);
	-moz-box-shadow: 0px 1px 0px rgba(255,255,255, .05);
	box-shadow: 0px 1px 0px rgba(255,255,255, .05);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.accordion .tab {
	display: block;
	height: 35px;
	margin-top: 4px;
	padding-left: 20px;
	font: bold 12px/35px Arial, sans-serif;
	text-decoration: none;
	color: #eee;
	text-shadow: 1px 1px 0px rgba(0,0,0, .2);

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #6c6e74; /* Old browsers */
background: -webkit-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);

	background: -moz-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
	background: -o-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
	background: -ms-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
	background: linear-gradient(top, #6c6e74 0%, #4b4d51 100%); /* W3C */

-webkit-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
	-moz-box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
	box-shadow: 0px 1px 0px rgba(0,0,0, .1), inset 0px 1px 0px rgba(255,255,255, .1);
}

.accordion .tab:hover,.accordion div:target .tab {
	color: #2b3b06;
	text-shadow: 0px 1px 0px rgba(255,255,255, .15);
	background: #00b1a9; /* Old browsers */
background: -webkit-linear-gradient(top, #00b1a9 0%, #00a29b 100%);

	background: -moz-linear-gradient(top, #00b1a9 0%, #00a29b 100%);
	background: -o-linear-gradient(top, #00b1a9 0%, #00a29b 100%);
	background: -ms-linear-gradient(top, #00b1a9 0%, #00a29b 100%);
	background: linear-gradient(top, #00b1a9 0%, #00a29b 100%); /* W3C */

-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
	box-shadow: 1px 1px 1px rgba(0,0,0, .3), inset 1px 1px 1px rgba(255,255,255, .45);
}

.accordion div .content {
	display: none;
	margin: 5px 5px;
}

.accordion div:target .content {
	display: block;
}

.accordion > div {
	height: 40px;
	overflow: hidden;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.accordion > div:target {
	height: 230px;
}

/* Accordion Content Styles */
.accordion .content h1 {
	font: 11px Arial, sans-serif;
}

.accordion .content h3{
	color:#00a29b;
	font: 12px Arial, sans-serif;
	font-weight: bold;
	padding-bottom: 10px;
}

.accordion .content p {
	margin: 10px 0;
	color: white;
	font: 11px/16px Arial, sans-serif;
}

.accordion .content span {
	font: italic 11px/12px Georgia, Arial, sans-serif;
	color: #4f4f4f;
}

.accordion .content em.bullet {
	width: 5px;
	height: 5px;
	margin: 0 5px;
	background: #00a29b;
	display: inline-block;

	-webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
	-moz-box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);
	box-shadow: inset 1px 1px 1px rgba(255,255,255, 0.4);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.accordion .content ul li {
	list-style: none;
	float: left;
	margin: 5px 10px 5px 0;
}

.accordion .content img {
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0, .5);
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0, .5);
	box-shadow: 2px 2px 6px rgba(0,0,0, .5);
}