.gis-dijit-Growl .growl {
    cursor: pointer;
    font-size: 1.1em;
    margin-right: 1px;
    margin-bottom: 10px;
    padding: 10px 14px 8px 14px;
    margin-bottom: 10px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbefd6;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #c09853;
}

.gis-dijit-Growl .growl h1,.gis-dijit-Growl .growl h2,.gis-dijit-Growl .growl h3,.gis-dijit-Growl .growl h4 {
    margin: 0;
}

.gis-dijit-Growl .growl.warning {
    background-color: #fcf8e3;
    border-color: #fbefd6;
    color: #c09853;
}

.gis-dijit-Growl .growl.success {
    background-color: #dff0d8;
    border-color: #468847;
    color: #468847;
}

.gis-dijit-Growl .growl.error {
    background-color: #f2dede;
    border-color: #b94a48;
    color: #b94a48;
}

.gis-dijit-Growl .growl.info {
    background-color: #d9edf7;
    border-color: #2980aa;
    color: #2980aa;
}

.gis-dijit-Growl .growl.default {
    background-color: #333333;
    border-color: #7A7A7A;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
