
html, body, #mapWrapper {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#mapWrapper {
	background: url("../../img/noisy_grid.png") #fff;
}

body {
	background-color: #FFF;
	overflow: hidden;
	font-family: "Trebuchet MS";
}
  
.myLogo { padding: 0px 38px 0px 0px; }
	
/*.icon-blue {color: #00a8ee;}*/
.icon-blue {color: #68dff0;}

<!-- #remotePane{
	z-index:2000;
} -->

#HomeButton {
	position: relative;
	top:120px !important; 
	left:20px;
	z-index: 50;
	margin-bottom:-30px; 
	float:left;
}

#LocateButton {
      position: relative;
      top: 160px !important;
      left: 20px;
      z-index: 50;
	  margin-bottom:-30px;
}

#EraseButton {
	position: relative;
	top:200px !important; 
	left:20px;
	z-index: 50;
	margin-bottom:-30px; 
	float:left;
	
    padding: 2px;
    width: 30px;
    height: 30px;
    background-color: rgba(102,102,102,0.80);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background-image: url("../../img/eraser.png");
    background-position: center center;
    background-repeat: no-repeat;
}
	
#coordinate_info {
	font: 12px Arial, sans-serif;
	font-weight: bold;
	color: #f4f4f4;
	position:absolute;
	bottom:10px;
	right:35px;
	z-index:40;
}


#SearchAddress {
    position: absolute;
    top: 100px !important;
    right: 20px;
    z-index: 40;
    margin-bottom: -120px;
    float: right;
}

#BasemapToggle {
  position: absolute;
  top: 150px !important;
  right: 20px;
  z-index: 50;
}

.BasemapToggle .toggleButton {
    padding: 1px;
    background: #fff;
    border: 1px solid #68dff0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.BasemapToggle .basemapTitle {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    color: #4C4C4C;
    margin: 0;
    font-size: 10px;
	font-weight: bold;
    line-height: 12px;
    display: block;
    padding: 2px 5%;
    background: #fff;
    background: rgba(104, 223, 240, 0.80);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    text-align: center;
}

.esriScalebarLine {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 6px;
    border: 2px solid #f4f4f4;
}

.esriScalebarEnglishLine {
    border-bottom-style: none;
    top: -2px;
}

.esriScalebarMetricLine {
    border-top-style: none;
}

.esriScalebarLabel {
    color: #f4f4f4;
}


.esriPopup a {
	color: #00a8ee;
}

.agsjsTOCLegendLabel {
    font-size: 11px;
    padding-left: 25px;
}


.esriSimpleSliderTL {
    top: 50px;
   /* left: 50px;*/
}

.esriScalebar {
    position: relative;
	bottom: 35px;
}


			
.dojoxFloatingPane {
	/*border-bottom-right-radius:6px;
	border-bottom-left-radius:6px;*/
	border-radius: 10px;
}

.dojoxFloatingPaneTitle {
	padding: 8px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}

.dijitTitleNode{
	color: #00A8EE;
}

/*================== SEARCH RESULT GRID ==================*/
.dojoxGridMasterHeader {
    color: #00A8EE;
	font-weight: normal;
}

.dojoxGrid {
    background-color: #00A8EE;
    font-family: Trebuchet MS, Arial;
	font-size: 13px;
}

.dojoxGridHeader .dojoxGridCellOver {
	background-image: none;
	background-color: white;
	border-bottom-color: #00A8EE;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom-width: 3px;
}

.dojoxGridHeader.dojoxGridCellFocus.dojoxGridCellOver {
	background-image: none;
	background-color: white;
	border-bottom-color: #00A8EE;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom-width: 3px;
}

.dojoxGridRowbarOver {
	background-image: none;
	background-color: white;
	border-top-color: #00A8EE;
	border-bottom-color: #00A8EE;
}

.dojoxGridRowOver {
	border-top-color: #00A8EE;
	border-bottom-color: #00A8EE;
}

.dojoxGridCellOver {
	border: 1px dotted #00A8EE;
}

.dojoxGridRowOdd {
	background-color: #eaf6fe;
	
}

.dojoxGridPaginatorGotoDiv {
    display: none;
}

/*================== FLOATING PANE ==================*/
.dojoxFloatingCloseIcon {
	display: none; 
}

.dojoxFloatingMinimizeIcon {
    background: url('../../img/close.png') no-repeat center;
    width: 32px;
    height: 32px;
    overflow: hidden;
    float: right;
    margin: -5px -8px 0px 0px;
} 

.dojoxResizeHandle {
		float: right;
		position: absolute;
		right: 2px;
		bottom: 2px;
		width: 13px;
		height: 13px;
		z-index: 20;
		background-image: url('../../img/tabResize.png');
		line-height: 0px;
}


/*================== WIDGET PROPS ==================*/
.widgetWrapper{
	position:relative;
	padding:15px 15px 15px 15px;
	/*background-color: #555454;*/
}

.widgetForm {
	
}


.widgetForm .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.widgetForm label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
	color: #00A8EE;
}


.widgetForm .dijitComboBox .dijitDownArrowButton {
	border-left-style:none;
} /* The grey box */

.widgetForm .dijitComboBox .dijitDownArrowButton .dijitArrowButtonInner { /* The arrow */
   background: url('../../img/arrowDown4.png') no-repeat scroll center;
    width: 16px;
} 


.widgetForm .dijitComboBoxFocused,
.widgetForm .dijitTextBoxFocused { 
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
} 


.dijitMenuItemHover,
.dijitMenuItemSelected {
    background-color: #00a8ee;
    color: white;
}

/* Hover */
.myTheme .dijitComboBox .dijitDownArrowButtonHover {} /* The grey box */
.myTheme .dijitComboBox .dijitDownArrowButtonHover .dijitArrowButtonInner {} /* The arrow  */

/* Active (mouse down) */
.myTheme .dijitComboBox .dijitDownArrowButtonActive {} /* The grey box */
.myTheme .dijitComboBox .dijitDownArrowButtonActive .dijitArrowButtonInner {} /* The arrow */



.dijitButtonNode {
	border: none;
	padding-bottom: 3px;
}

/*================== OVERVIEW MAP ==================*/
.esriOverviewMap.ovwBR .ovwShow, .esriOverviewMap.ovwTL .ovwHide {
    background: url("../../img/overview.png") 0px -52px;
}

.esriOverviewMap.ovwTL .ovwShow, .esriOverviewMap.ovwBR .ovwHide {
    background: url("../../img/overview.png") 0px -26px;
}

.esriOverviewMap.ovwBR .ovwContainer {
    bottom: 0px;
    right: 0px;
    border-top: 2px solid #ffd777;
    border-left: 2px solid #ffd777;
    padding-top: 2px;
    padding-left: 2px;
}

/*================== BASEMAP ==================*/
.esriBasemapGallery {
	font-size: 12px;
	margin-top: 10px;
    margin-bottom: 10px;
}

.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail {
    border: 2px solid #00A8EE;
    margin: 0;
}

/*================== BUFFER ==================*/
.map .tooltip {
	font-family: Trebuchet MS, Arial;
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/*================== MEASURE ==================*/
 .esriMeasurement .esriButton .dijitButtonNode {
    color: #666;
    height: 32px;
    width: 32px;
} 

.esriMeasurement .esriButtonHover .dijitButtonNode {background:#fcfdff url("../../img/button-hover.png") repeat-x bottom;}
.esriMeasurement .esriButtonChecked .dijitButtonNode {background: #ededed url("../../img/button-active.png") bottom repeat-x;}
.esriMeasurement .esriButtonActive .dijitButtonNode {background: #ededed url("../../img/button-active.png") no-repeat;}

.widgetForm .dijitArrowButtonInner {
   /*  width: 15px;
    height: 15px;
    margin: 0 auto;
    background-image: url("../assets/img/buttonArrows.png");
    background-repeat: no-repeat;
    background-position: -51px 53%; */
	
	 background: url('../../img/arrowDown2.png') no-repeat scroll 0 center;
}

.widgetForm .dijitButtonText {
    padding: 0 0.3em;
    text-align: center;
	font-size: 13px;
}

.dijitMenu {
    border: solid 1px #00A8EE;
	font-size: 13px;
	-webkit-transition-duration: 0.1s; 
	-moz-transition-duration: 0.1s; 
	transition-duration: 0.1s;	
}

/*================== GET DIRECTIONS ==================*/
.dijitDialog {
	    background-color: white;
}



/*================== BOOKMARK ==================*/
.esriBookmarks {
    width: 100%;
	border: none;
}

.esriBookmarkEditBox {
    position: fixed;
    font-size: 12px;
    height: 20px;
    width: 180px;
}

.btn-primary-bookmark, .esriAddBookmark {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-bookmark, .esriAddBookmark {
	height: 38px;
	width: 120px;
	margin-top: 20px;
    display: inline-block;
    padding: 10px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

