/** combined CSS file */ 
.agsjsTOCNode {
    padding-top: 1px;
    padding-bottom: 1px;
}

.agsjsTOCContent {
    white-space: nowrap;
	font-family:'Arial';
    color:#00a8ee;
}

.agsjsTOCOutOfScale {
    color: grey;
    opacity: 0.5;
}

.agsjsTOCIcon {
  vertical-align:bottom;
  margin-left: 5px;
}

.agsjsTOCRootLayer {
}

.agsjsTOCRootLayerLabel {
    font-size: 13px;
    font-weight: bold;
}

.agsjsTOCGroupLayer {
    font-weight: bold;
}

.agsjsTOCGroupLayerLabel {
     font-size: 12px;
}

/*.agsjsTOCGroupLayerLabel:hover {
    font-size: 16px;
}*/

.agsjsTOCServiceLayer {
    font-size: 12px;
}

.agsjsTOCServiceLayerLabel {
    font-size: 12px;
    padding-left: 5px;
}

.agsjsTOCLegendIcon {
    width: 50px;
}

.agsjsTOCLegendLabel {
    font-size: 11px;
    padding-left: 5px;
}

.agsjsTOCSlider {
    padding: 5px 20px 5px 30px;
}
